@model Nemesys.ViewModels.ReportListViewModel

@using Microsoft.AspNetCore.Identity
@using Nemesys.Models.Interfaces
@inject UserManager<Nemesys.Models.ApplicationUser> UserManager
@inject INemesysRepository _nemesysRepository;


@{
    ViewData["Title"] = "Report Posts";
}

<h1>@ViewData["Title"]</h1>

<h2>Showing @Model.TotalEntries report entries</h2>


<form asp-controller="ReportPost" asp-action="Index" method="get">
    <p>

        <select asp-for="SearchStatus" asp-items="@Model.Status">
            <option value="">All Status</option>
        </select>

        <select asp-for="SearchTypeOfHazard" asp-items="@Model.TypeOfHzard">
            <option value="">All Hazards</option>
        </select>
        <select asp-for="SearchUpvote" asp-items="Model.Upvote">
            <option value="">Upvote</option>
        </select>
        <select asp-for="SearchDate" asp-items="Model.Date">
            <option value="">Date</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>



<div class="row">
    @foreach (var report in Model.Reports)
    {
        <div class="card" style="width: 18rem;padding:20px; margin:20px;">
            <img class="card-img-top" src="@report.ImageUrl" alt="Image for @report.Title" />
            <div class="card-body">
                <h3 class="card-title">@report.Title</h3>
                <p class="small">
                    @report.Date.ToShortDateString() <br>
                    Description : @report.Description<br>
                    Location : @report.Location<br>
                    Type of hazard  : @report.TypeOfHazard.Name<br>
                    Status : @report.Status.Name<br>
                    Upvotes : @report.Upvotes<br>
                    Creation date : @report.CreatedDate.ToShortDateString() <br>
                    By @report.ReporterInformations
                </p>

                @if (!@report.Status.Name.Equals("Closed") && (User.IsInRole("Reporter"))) // regarder si le user a pas deja upvote pour ce report
                {
                    if (@report.UserUpVote)
                    {
                        <a asp-controller="ReportPost" asp-action="Upvotes" asp-route-id="@report.Id" class="btn btn-primary">Upvote</a>
                    }
                }

                @if (@report.Status.Name.Equals("Open") )
                {
                    @if ( (User.IsInRole("Investigator")) ) // User.IsInRole("Administrator")
                    {
                        <a asp-controller="InvestigationPost" asp-action="Create" asp-route-id="@report.Id" class="btn btn-primary">Investigate</a>
                    }
                }
                else
                {
                    <a asp-controller="ReportPost" asp-action="Investigation" asp-route-id="@report.Id" class="btn btn-primary">Investigation</a>
                }

                @if (@report.Author.Id.Equals(@ViewData["Reporter"]))
                {
                    <a asp-controller="ReportPost" asp-action="Delete" asp-route-id="@report.Id" class="btn btn-primary">Delete</a>
                    <a asp-controller="ReportPost" asp-action="Edit" asp-route-id="@report.Id" class="btn btn-primary">Edit</a>
                }
            </div>
        </div>
    }
</div>
