@model Nemesys.ViewModels.EditInvestigationViewModel

<h2>Create Investigation Post</h2>

<form asp-action="Create" method="post" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="StatusId" class="col-md-2"></label>
        <div class="col-md-5">
            <select asp-for="StatusId"
                    asp-items="@(new SelectList(Model.StatusList,"Id","Name"))">
                <option value="">Select a category</option>
            </select>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2"></label>
        <div class="col-md-5">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DateOfAction" class="col-md-2"></label>
        <div class="col-md-5">
            <input asp-for="DateOfAction" class="form-control" />
            <span asp-validation-for="DateOfAction" class="text-danger"></span>
        </div>
    </div>


    <div class="card" style="width: 90%;padding:20px; margin:20px;">
        <img class="card-img-top" src="@Model.Report.ImageUrl" alt="Image for @Model.Report.Title" />
        <div class="card-body">
            <h3 class="card-title">@Model.Report.Title</h3>
            <p class="card-text">Date of the hazard @Model.Report.Date.ToShortDateString()</p>
            <p class="small">Description : @Model.Report.Description</p>
            <p class="small">Location : @Model.Report.Location</p>
            <p class="small">Type of hazard  : @Model.Report.TypeOfHazard.Name</p>
            <p class="small">Status : @Model.Report.Status.Name</p>
            <p class="small">Upvotes : @Model.Report.Upvotes</p>
            <p class="small">By</p>
            <p class="small">Create date: @Model.Report.CreatedDate.ToShortDateString() </p>
            <p class="small"></p>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" class="btn btn-primary" value="Create Investigation Post" />
            <a asp-controller="ReportPost" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}