@model Nemesys.ViewModels.InvestigationListViewModel


@using Microsoft.AspNetCore.Identity
@inject UserManager<Nemesys.Models.ApplicationUser> UserManager


@if (@Model.TotalEntries>1)
{
    ViewData["Investigation"] = "investigations";
}
else
{
    ViewData["Investigation"] = "investigation";
}


<h1>Your Investigations</h1>


<h2>You have done @Model.TotalEntries @ViewData["Investigation"]</h2>

<div class="row">
 @foreach (var investigation in Model.Investigations)
 {
    <div class="card" style="width: 18rem;padding:20px; margin:20px;">

        <h4 class="card-title">Status : @investigation.Report.Status.Name</h4>
        <h4 class="card-title">ToH : @investigation.Report.TypeOfHazard.Name</h4>
        <p class="small">
            Creation date : @investigation.DateOfAction.ToShortDateString() <br>
            Description : @investigation.Description <br>
        </p>

        <div class="row">
            <h5 class="card-title">Report</h5>

            <img class="card-img-top" src="@investigation.Report.ImageUrl" alt="Image for @investigation.Report.Title" />
            <div class="card-body">
                <h3 class="card-title">@investigation.Report.Title</h3>
                <p class="small">
                    @investigation.Report.Date.ToShortDateString() <br>
                    Location : @investigation.Report.Location<br>
                    Upvotes : @investigation.Report.Upvotes<br>
                </p>
            </div>
        </div>


        <a asp-controller="InvestigationPost" asp-action="Details" asp-route-id="@investigation.Id" class="btn btn-primary">Details</a>
        <a asp-controller="InvestigationPost" asp-action="Edit" asp-route-id="@investigation.Id" class="btn btn-primary">Edit</a>
    </div>
  }

</div>